body {
    background-color: white;
}


#main {
    display: flex;
    flex-flow: column;
    justify-content: center;
    position: absolute;;
    background-color: black;
	width:100px;
    height:200px;
    
}


#main2 {
    display: flex;
    margin-left: 100px;
    flex-flow: column;
    justify-content: center;
    position: absolute;;
    background-color: black;
	width:100px;
    height:200px;
    
}


.green{
  align-self: center;
	width:50px;
    height:50px;
    animation: animationgreen 4s infinite;
	background:#6C6;
    border-radius:100px;
    margin-bottom: 10px;
    cursor: pointer;
}
.green:hover {
   background-color: #6C6;
}

.green2{
    align-self: center;
      width:50px;
      height:50px;
      background: black;
      border-radius:100px;
      margin-bottom: 10px;
      cursor: pointer;
  }
  .green2:hover {
     background-color: green;
  }
  







.yellow{
	width:50px;
	height:50px;
    background:#F90;
    animation: animationyellow 1s infinite;
	border-radius:100px;
    margin-bottom: 10px;
    align-self: center;
    cursor: pointer;
}

.yellow:hover {
    background-color: #F90;
  }

  .yellow2{
	width:50px;
	height:50px;
    background:black;
    animation: animationyellow 2s infinite;
	border-radius:100px;
    margin-bottom: 10px;
    align-self: center;
    cursor: pointer;
}
.yellow2:hover {
    background-color: #F90;
  }

.red{
    cursor: pointer;
    background-color: red;
    width:50px;
    animation: animationred 4s infinite;
	height:50px;
    border-radius:100px;
    align-self: center;
	
}

.red2{
    cursor: pointer;
    background-color: black;
    width:50px;
    animation: animationred 4s infinite;
	height:50px;
    border-radius:100px;
    align-self: center;
	
}

.red2:hover {
    background-color: #F00;
 }
 



@keyframes  animationred {
    0%{background-color:black};
    100%{background-color:  black};
}
   
@keyframes animationyellow {
    0% {background-color: black};

    100% {background-color: black};
    
}

@keyframes animationgreen {
    0% {background-color: black};

    100% {background-color: black};
    
}